name: minha primeira action

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: verifica sintaxe de src/factory.php
      run: php -l src/factory.php

